<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER Entity Classification</title>
    <!-- Bootstrap CSS CDN -->
    <link href="static/styles.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:8000/logs"> Logs <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>NER Entity Classification</h1>
                <form id="nerForm" class="input-group my-4">
                    <input type="text" class="form-control" name="sentence" placeholder="Enter Sentence here">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Predict</button>
                    </div>
                </form>
                <div class="form-group">
                    <div id="results"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      document.getElementById('nerForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form from submitting the default way
        const formData = new FormData(this);
        const sentenceValue = formData.get('sentence');

        fetch('http://localhost:8000/predict', {
          method: 'POST',
          headers: {
            'Content-Type': 'text/plain'
          },
          body: sentenceValue
        })
        .then(response => response.json())
        .then(data => {
          const resultsDiv = document.getElementById('results');
          resultsDiv.innerHTML = ''; // Clear previous results
          data.forEach(tag => {
            const p = document.createElement('p');
            p.textContent = tag;
            resultsDiv.appendChild(p);
          });
        })
        .catch(error => console.error('Error:', error));
      });
    </script>
</body>
</html>